.CreatePost {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
.CreatePost h2 {
  text-align: center;
  color: #652565;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}
