.User {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 30px 20px;
  grid-column-gap: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  padding: 10px;
  background: #00000009;
  cursor: pointer;
}
.User:hover,
.User:active {
  background: #00000028;
}
.Logo {
  border: 1px solid #aaa;
  width: 50px;
  height: 50px;
  grid-area: 1 / 1/ 3/ 2;
  border-radius: 50%;
}
h3 {
  margin-top: 0;
}
.Gray {
  color: #555;
  height: 20px;
  font-size: 0.8rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
.Gray::-webkit-scrollbar {
  height: 2px;
}
