.Btn {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  color: rgb(66, 59, 59);
  font-family: cursive;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-out;
}
.Btn:hover {
  cursor: pointer;
}
.Btn:active {
  border: 1px solid cyan;
  transform: translateY(5px);
}
.Btn:focus {
  outline: none;
}
.Success {
  background: #2d7fe4;
  color: white;
}
.Success:hover,
.Success:active {
  background: #2d67af;
}
.Success:active {
  border: 1px solid #213d61;
}

.Danger {
  background: red;
  color: white;
}
.Danger:hover,
.Danger:active {
  background: #d20f0f;
}
.Danger:active {
  border: 1px solid #4d0000;
}
.Btn:disabled {
  background: #999;
  cursor: not-allowed;
}
