body {
  font-family: sans-serif;
}
.PostComponent {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.UserLogo {
  overflow: hidden;
  grid-row: 1/4;
}

.UserLogo img {
  border-radius: 50%;
  width: 100%;
}

.Header .Header_username {
  font-weight: bold;
}
.Header .Header_userId {
  color: #8c8080;
}
.Header_title {
  margin-top: 8px;
  margin-bottom: 5px;
}
.Content {
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.Content img {
  width: 100%;
}
.Footer {
  color: #6b6868;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  user-select: none;
}
.Footer i {
  cursor: pointer !important;
  font-size: 1rem;
}
