.TextArea {
  flex-grow: 3;
  margin-right: 10px;
  resize: none;
  border-radius: 5px;
  padding: 5px;
}
.TextArea:focus {
  outline: none;
  border: 1px solid rgb(28, 95, 95);
}

.Form {
  display: flex;
  align-items: center;
  flex-grow: 3;
}
